<div>
  <div class = "container">
    <div class="login ">
      <div class = "inner-login">
          <h1 class = "pt-3">
            <img src="https://i.imgur.com/wvLiKam.png" width="200px" height="68px">
          </h1>
          <h2 class="signup-advertise">Sign up to see photos and videos from your friends.</h2>

          <button class = "fb-button"><i class="fab fa-facebook-square"></i> Log in with Facebook</button>

          <div class="divider"><b>OR</b></div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="">
              <% f.label :username %>
              <%= f.text_field :username ,placeholder: "Username", class: "form-control"%>
            </div>

            <div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email", class: "form-control"%>
            </div>

            <div class="">
              <%# <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password", class: "form-control" %>
            </div>
            <div class="">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: "Confirm Password", class: "form-control" %>
            </div>

              <div class = "signup-terms">
                <p>
                  People who use our service may have uploaded your contact information to Instagram. <strong>Learn More</strong>
                </p>
                <p>
                  By signing up, you agree to our <strong>Terms , Privacy Policy and Cookies Policy .</strong>
                </p>
              </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>

        </div>

      <div class="infobox">
        <p>
            Have an account?
            <%= render "devise/shared/log_in"%>
        </p>
      </div>

    </div>
    <div class="footer">
        <p>
            <a href="https://www.instagram.com/about/us/">Meta</a>
            <a href="https://www.instagram.com/about/us/">About</a>
            <a href="https://www.instagram.com/about/us/">Blog</a>
            <a href="https://help.instagram.com/">Jobs</a>
            <a href="https://instagram-press.com/">Help</a>
            <a href="https://www.instagram.com/developer/">API</a>
            <a href="https://help.instagram.com/519522125107875">Privacy</a>
            <a href="https://help.instagram.com/581066165581870">Terms</a>
            <a href="https://www.instagram.com/explore/locations/">Top Accounts</a>
            <a href="https://www.instagram.com/explore/locations/">Hashtags</a>
            <a href="https://www.instagram.com/explore/locations/">locations</a>
            <a href="https://www.instagram.com/explore/locations/">Instagram Lite</a>
            <a href="https://www.instagram.com/directory/profiles/">Contact Uploading & Non-Users</a>
        </p>
        <p> <span>© 2022 Instagram from Meta</span> <p>

    </div>

  </div>

</div>
