<%= turbo_stream_from comment%>
<%= turbo_frame_tag comment do%>
  <div class = "comment py-3 w-100">
    <div class= "d-flex justify-content-start comment-inner">
      <div>
        <%=render partial: 'shared/avatar', locals: {user: comment.user, size: 30}%>
      </div>

      <div class = "px-2 comment-info" style = "width: 100%">
        <p class="modal-title text-wrap">
         <strong><%= comment.user.username %></strong>
         <span>
          <%= comment.body %>
         </span>
        </p>
         <div class = "d-flex justify-content-between">
          <p class = "comment-date">
            <% updated_at = comment.updated_at%>
            <%= updated_at.strftime("%B #{updated_at.day.ordinalize}, %Y") %>
          </p>
          <p class = "comment-links">
            <%= link_to 'Edit', edit_comment_path(comment), data:{turbo: true}%>
            <%= link_to 'Delete', comment_path(comment), method: :delete, remote: true,data: {confirm: "Are you sure?"} ,class: "mr-2"%>
          </p>
        </div>
      </div>


    </div>
  </div>
<%end%>
