<%= turbo_frame_tag comment do%>
  <div class = "comment py-3 w-100">
    <div class= "d-flex justify-content-start comment-inner">
      <div>
        <%=render partial: 'shared/avatar', locals: {user: comment.user, size: 30}%>
      </div>

      <div class = "px-2 comment-info" style = "width: 100%">
        <p class="modal-title text-wrap">
         <strong><%= comment.user.username %></strong>
         <span>
          <%= comment.body %>
         </span>
        </p>
         <div class = "d-flex justify-content-between">
          <p class = "comment-date">
            <% updated_at = comment.updated_at%>
            <%= updated_at.strftime("%B #{updated_at.day.ordinalize}, %Y") %>
          </p>
          <p class = "comment-links">
            <%= render partial: "comments/conditional_edit_delete", locals: {comment: comment}%>
          </p>
        </div>
      </div>
    </div>
  </div>
<%end%>
