<% model = [local_assigns[:post], comment].compact %>
<%= form_with(model: model, id: dom_id_for_records(*model), class: "comment-form", data: {turbo: true}) do |form| %>
  <%= render partial: 'shared/form_errors', locals: {record: comment}%>
  <div class = "d-flex">
    <div class="field w-100 h-100">
      <%= form.text_field :body,placeholder: "Add a comment...", class: "new-comment border-0 w-100 h-100"%>
    </div>
    <div class="actions">
      <%= form.submit 'Post',class: "simple-btn submit-comment"%>
    </div>
  </div>
  <%= link_to 'Cancel', comment, class: "btn btn-link" if form.object.persisted? %>
<% end %>
