<% unless !user_signed_in? %>
  <% like = current_user.likes.find_by(likeable: likeable) %>
  <% if like.nil? %>
  <%=button_to(likes_path, class: "simple-btn", remote: true ,params:{ like: {likeable_id: likeable.id,  likeable_type: likeable.class.to_s}}) do%>
    <div class = "like-button">
      <span class = "heart-icon"><i class="bi bi-suit-heart"></i></span>
      <p class = "text-sm">
        <%= pluralize(likeable.likes.count , "like") %>
      <p>
      <p class = "text-sm text-muted">
        <%= like_date(likeable)%>
      </p>
    </div>
  <% end%>
  <% else %>
    <%=button_to(like_path(like), class: "simple-btn",remote: true, method: :delete) do%>
    <div class = "like-button">
      <span class = "heart-icon"><i style = "color: red;" class="bi bi-heart-fill"></i></span>
      <p class = "text-sm">
      <%= pluralize(likeable.likes.count , "like") %>
      <p>
    </div>
    <%end%>
  <% end %>
<%end%>

