<div class = "container mt-5 pt-5">
  <div class="login">

    <div class = "inner-login">
      <h1><img src="https://i.imgur.com/wvLiKam.png" width="200px" height="68px"></h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <% f.label :loginorpassword %>
            <%= f.text_field :login,  autofocus: true,placeholder:"Phone number, username, or email"%>
          </div>

          <div class="">
            <% f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" , placeholder: "password"%>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <% f.check_box :remember_me %>
              <% f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in"  %>
          </div>
        <% end %>

        <div class="divider"><b>OR</b></div>

        <div class="fbwrapper"><div class="fb"><a href="https://facebook.com"><img src="https://i.imgur.com/exksovo.png">  Log in with Facebook</a></div></div>

        <div class="forgotwrapper">
          <div class="forgot">
            <%= render "devise/shared/forgot_password" , class: "forgotwrapper" %>
          </div>
        </div>
    </div>


    <div class="infobox">
      <p>
        Don't have an account?
        <%= render "devise/shared/sign_up"%>
      </p>
    </div>
  </div>

  <div class="footer">
        <p>
            <a href="https://www.instagram.com/about/us/">Meta</a>
            <a href="https://www.instagram.com/about/us/">About</a>
            <a href="https://www.instagram.com/about/us/">Blog</a>
            <a href="https://help.instagram.com/">Jobs</a>
            <a href="https://instagram-press.com/">Help</a>
            <a href="https://www.instagram.com/developer/">API</a>
            <a href="https://help.instagram.com/519522125107875">Privacy</a>
            <a href="https://help.instagram.com/581066165581870">Terms</a>
            <a href="https://www.instagram.com/explore/locations/">Top Accounts</a>
            <a href="https://www.instagram.com/explore/locations/">Hashtags</a>
            <a href="https://www.instagram.com/explore/locations/">locations</a>
            <a href="https://www.instagram.com/explore/locations/">Instagram Lite</a>
            <a href="https://www.instagram.com/directory/profiles/">Contact Uploading & Non-Users</a>
        </p>
        <p> <span> 2022 Instagram from Meta</span> <p>

    </div>
</div>
