  <div id = "post-<%= list.id %>" class = "col g-1 g-md-3 g-lg-4 square">
    <div class = "h-100 post-container">
      <% if list.images.exists? %>
        <a class = "post-a">
        <%if user_signed_in? %>
          <%= link_to image_tag(list.images.first ,class:"image img-fluid h-100 w-100 ", style:"object-fit: contain %"), list ,data: { turbo: 'true', turbo_frame: 'detail'} %>
        <%else%>
          <%= link_to image_tag(list.images.first ,class:"image img-fluid h-100 w-100 ", style:"object-fit: contain %"), new_user_session_path %>
        <%end%>
        </a>
      <%end%>
      <div class = "middle">
        <div class="text d-flex justify-content-between">
          <div id = "likes-post-count-<%=list.id%>">
            <%= pluralize_count(list.likes.count, 'like') %>
          </div>
          <div id = "comments-post-count<%=list.id%>">
            <%= pluralize_count(list.comments.count, 'comment') %>
          </div>
        </div>
      </div>
    </div>
  </div>
