<%= tag.div id:"post_detail#{@post.id}", data: { controller: "post-view" ,action: "turbo:submit-end->turbo-modal#submitEnd" }, class: "" do %>
  <div class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-body", style= "padding: 0;">
          <div class = "container w-100 h-100 d-flex" style = "padding: 0">
            <div class = "col-7 post-modal-image">
              <div class = "w-100 h-100">
                <% if post.images.any? %>
                  <div class = "w-100 h-100">
                      <%= render partial: "shared/carousel", locals: {images: post.images} %>
                  </div>
                <%end%>
              </div>
            </div>
            <div class = "col h-100 border-2 position">
              <div class = "px-4">
                <div class="modal-header py-4" style= "padding: 0">
                  <div class= "d-flex justify-content-between align-items-center ">
                    <%=render partial: 'shared/avatar', locals: {user: post.user, size: 30}%>
                    <h6 class="modal-title px-2"> <strong><%= post.user.username %></strong></h6>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                  <%= tag.div id: "#{dom_id(@post)}_comments",style: "overflow-y: scroll; max-height: 600px" do %>
                    <%= post.body %>
                    <%= render @post.comments %>
                  <%end%>
                </div>
              </div>
              <div>
               <div class = "like-comment-container">
                <div class = "w-100">
                  <div class = "d-flex px-4 pb-5 pt-1 border-start border-top justify-content-between">
                    <div id="like-button-<%= post.id %>">
                      <%= render 'likes/like', likeable: post %>
                    </div>
                    <div class = "d-flex">
                      <% if post.user == current_user %>
                        <div class = "px-1">
                          <%= link_to  edit_post_path(post), data: { turbo: 'true', turbo_frame: 'modal'} do %>
                              <h4><i class="bi bi-pencil"></i></h4>
                          <%end%>
                        </div>
                        <div class = "px-1">
                          <%= link_to post_path(post), method: :delete, data:{turbo: true, confirm: "Are you sure you want to delete this post?"} do %>
                            <h4><i class="bi bi-trash3"></i></h4>
                          <%end%>
                        </div>
                      <%end%>
                    </div>
                  </div>
                  <div class="add-comment-container px-4">
                    <span class="card-icon"><i class="bi bi-emoji-smile"></i></span>
                    <div class="comment-container">
                      <%= render partial: 'comments/form', locals: {parent_id: nil, post: @post, comment: Comment.new} %>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </div>

          </div>
        </div>

      </div>
    </div>
  </div>
<%end%>
